button{
    font-size: var(--sizeNormal);
    text-decoration: none;
    line-height: 27px;
    background-color: transparent;
    color: var(--blackColor);
    min-width: 136px;
    margin-bottom: 40px;
    align-items: center;
    justify-content: center;
    position: absolute;
}

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
}

.normButton{
    height: 51px;
    width: 140px;
}

.normButton:hover {
    height: 61px;
    width: 150px;
}

body{
    height: 1000pc;
}