*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 1000px;
}
.hero{
    width: 100%;
    height: 50%;
    display: flex;
    background-color: black;
}

 .welcome-to-theclub{
    width: 50%;
    background-color: #161616;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
.greenButton{
    background-color: var(--buttonHero);
    border: 0px;
    border-radius: 35px;
    height: 51px;
    width: 142px;
    padding-inline: 25px;
    margin-top: 20px;
}

.pushbuttons:hover {
    height: 61px;
    width: 150px;
}

.buttspans{
    padding: 12px, 24px;
    position: sticky;
}

.welcome-to-theclub img{
    width: 20%;
    margin-bottom: 10px;
}
.hero-img{
    width: 50%;
    background-color: beige;
}
.hero-img img{
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
}
.wlcm-to{
    font-size: 45px;
}
.content-first-hero{
    text-align: center;
    margin-top: 8px;
}