*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "ElectronicArtsText", "Verdana", "Helvetica", "Arial", sans-serif;
}

:root{
    --preHeader:#161616;
    --header:#fff;
    --bodycolor:#EAEAEA;
    --prefooter:#EAEAEA;
    --prefooterblue:#1b95da;
    --footer:#fff;
    --buttonHero: #07F468;
    --whiteColorText:#f3f3f3;
    --blackColorText:#161616;
    --colorTextTermsEaPlay:#FF4747;

    --sizeForeground: 54px;
    --foregroundMedia: 38px;
    --sizeNormal: 18px;
    --normalMedia: 16px;
    --lastText: 14px;
    --sizeSecond: 16px;
    --secondMedia: 14px;
    --cardTitle: 24px;
    --cardTitleMedia: 20px;
    --heroH2: 26px;
    --heroH2Media: 24px;
    --titleSection: 44px;
    --titleSectionMedia: 32px;
    --animationTime: 0.1s; 
}
