*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "ElectronicArtsText", "Verdana", "Helvetica", "Arial", sans-serif;
}

:root{
    --preHeader:#161616;
    --header:#fff;
    --bodycolor:#f3f3f3;
    --prefooter:#f3f3f3;
    --prefooterblue:#1b95da;
    --footer:#fff;
    --buttonHero: #07F468;
    --whiteColorText:#f3f3f3;
    --blackColorText:#161616;
    --colorTextTermsEaPlay:#FF4747;

    --sizeForeground: 54px;
    --sizeNormal: 18px;
    --footerTerms: 14px;
    --sizeSecond: 16px;
    --cardTitle: 24px;
    --heroH2: 26px;
    --titleSection: 44px;
}
