.hero-section {
  position: relative;
  width: 100%;
  height: 100%;
}
.topIMG button,
.topIMG {
  color: white;
}
.topIMG .signUp button {
  width: 30%;
    margin: 5% 0 0 2px; 
  border: white solid 2px;
}

.fixedImage {
  position: relative;
  height: 100%;
  width: 100%;
}

.topIMG {
  position: absolute;
  width: 33%;
  inset: 20% 0 0 17%;
  text-align: left;
  font-size: 18px;
  height: 60%;
}
.secondHero{
    width: 100%;
    height: 100%;
    padding: 20px;
    background-image: url("hero-images/hero-section2.jpg");
    margin-top: -5px;
}
.secondHerofooter{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 3.3%;
}

.secondHerofooter h2{
    font-size: var(--heroH2);
    width: 30%;
}
@media (max-width: 1490px){
    .topIMG{
        inset: 20% 0 0 12%;
    }
    .secondHerofooter h2{
        margin-right: 10%;
        width: 40%;
    }
    .secondHerofooter button{
        margin-left: 25%;
    }
}

@media (max-width: 1029px){
    .topIMG{
        inset: 25% 0 0 10%;
        width: 40%;
        height: 15%;
    }
    .secondHerofooter h2{
        font-size: var(--cardTitle);
        text-align: center;
        width: 100%;
    }
    .hero-section{
        height: 510px;
    }
    .secondHero{
        height: 200px;
    }
    .secondHerofooter{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 3%;
        width: 100%;
        gap: 12px;
    }
    .secondHerofooter h2, .secondHerofooter button{
        margin: 0;
        padding: 0;
    }
    .topIMG p{
        font-size: var(--sizeSecond);
    }
}

@media (max-width: 767px){
    /* MANCA */
}

@media (max-width: 639px){
    .hero-section{
        background-image: url(hero-images/ea-play-product-conversion-gradient-jpg-2020-xl.jpg.adapt.320w.jpg);
        background-position: center;
        background-size: cover;
    }
    .topIMG{
        width: 90%;
    }
    .fixedImage{
        display: none;
    }
    .topIMG p{
        margin-right:2%;
    }
    
}
