:root {
    --margin-body: 0;
    --navbar-width-height: 100%;
    --header-width: 100%;
    --ea-theme-spacer-height: 96px;
    --ea-theme-spacer-height-mobile: 96px;
    --ea-theme-spacer-height-tablet-portrait: 96px;
    --ea-theme-spacer-height-tablet-landscape: 96px;
    --ea-theme-spacer-height-desktop: 100px;
    --haaland-section: 100%;
    --eaplay-gamebox-height-width: 100%;
    --eaplay-gamebox-left: 0;
    --eaplay-gamebox-top:0;
    --cards-last-news-width: 33.3%;
    --cards-title-img-width: 100%;
    --cards-min-height: 110px;
    --buttons-border-width: 2px;
    --eaplay-hero-content-width-height-width: 100%;
    --eaplay-hero-content-padding: 32px;
    --eaplay-hero-content-top: 0;
    --eaplay-hero-content-zindex: 4;
    --gamers-and-parents-fontsize: 24px;
    --gamers-and-parents-fontweight: 600;
    --gamers-and-parents-margin: 1em0;
    --link-button-discover-more-top-left-bottom-right: 0;
    --pre-footer-font-size: 16px;
    --footer-buttons-padding: 0 36px 0 24px;
    --footer-buttons-width-height: 100%;
}